body{
    display: flex;
    flex-direction: column;
    align-items: center
}
#botonesEleccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#titularPalabra{
    text-align: center;
    color: white;
    font-size: 80px;
}
#titularGanador{
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
}