body{
    display: flex;
    flex-direction: column;
    align-items: center
}
#botonesEleccion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#titularPalabra{
    text-align: center;
    color: white;
    font-size: 80px;
    margin-bottom: 35px;
}
#titularGanador{
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
}
h3{
    margin: 20px 0px 80px 0px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);

}

.confeti{
    pointer-events: none;
    position: relative;
    opacity: 0;
    margin: 5px;
}

.contenedorConfetis{
    align-self: stretch;
    padding: 3%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}