body{
    color: white;
}

#listaLetras{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 90px 0px 20px 0px;
}

#listaLetras > div{
    font-size: 80px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0px 5px;
}

#titularEleccion{
    font-size: 30px;
    text-align: center;
}

#botonesEleccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#loadingBar {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 90%;
    visibility: hidden;
    margin: auto;
}
#loadingBar > div{
    border-radius: 15px;
    background: #fff;
    height: 40px;
    width: 0%;
}
