body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Título letras */
h1{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
h1 > .letra{
    color: white;
    font: oblique bold 125% cursive ;
}

/* Cuadrados de jugadores */
#jugadores{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#jugadores > .jugador{
    width: 30%;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.282);
    border-radius: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#jugadores > .jugador > h2{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.25em;
}
input{
    border: none;
    text-align: center;
    border-radius: 15px;
}
#jugadores > .jugador > input{
    width: 100%;
    padding: 15px 0px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.118);
    color: rgba(255, 255, 255, 0.8);
}
input::placeholder{ 
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/* Botones de colores*/
.colores{
    margin-top: 10px;
    /* margin-bottom: 17px; */
    display: flex;
}
.color{
    background: #444;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.753);
    border-style: solid;
    
    margin: 0px 10px;
    width: 40px;
    height: 40px; 
    border-radius: 30px;
    margin-top: 10px;
    transition: 0.2s;
}
.color:hover{
    cursor: pointer;
    border-width: 2px;
    box-shadow: 0px 0px 5px black;
}

/* Pie de página*/
footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    body{
        margin: 0px;
    }
    #jugadores > .jugador{
        width: 100%;
        border-radius: 0px;
    }
    #jugadores > .jugador:nth-child(1){
        margin-bottom: 40px;
    }
    .colores{
        flex-wrap: wrap;
    }
    footer{
        width: 90%;
    }
}
