body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Título letras */
h1{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
h1 > .letra{
    color: white;
    font: oblique bold 125% cursive ;
    animation: move 4s infinite ease-in-out;
    transform: translate(0, -5px);
}
/* Animación de las letras*/
@keyframes move {
    0% {
        transform: translate(0, -5px);
    }

    50% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, -5px);

    } 
}
.letra:nth-child(1) {animation-delay: 0s;}

.letra:nth-child(2) {animation-delay: 1s;}

.letra:nth-child(3) {animation-delay: 2s;}

.letra:nth-child(4) {animation-delay: 3s;}

.letra:nth-child(5) {animation-delay: 4s;}

.letra:nth-child(6) {animation-delay: 5s;}

/* Cuadrados de jugadores */
#jugadores{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#jugadores > .jugador{
    width: 30%;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.282);
    border-radius: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
h2{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 30px;
    width: 80%;
    padding: 0px 10%;
}
h4{
    margin: 0px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.75em;
    text-align: center;
}
h3{
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
}
.jugador > input[type=button]{
    width: 100%;
    margin: 5px 0px 5px 0px;
}
input{
    border: none;
    text-align: center;
    border-radius: 15px;
}
#jugadores > .jugador > input[type=text]{
    width: 100%;
    padding: 15px 0px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.118);
    color: rgba(255, 255, 255, 0.8);
}
input::placeholder{ 
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/* Botones de colores*/
.colores{
    margin-top: 10px;
    /* margin-bottom: 17px; */
    display: flex;
}
.color{
    background: #444;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.753);
    border-style: solid;
    
    margin: 0px 10px;
    width: 40px;
    height: 40px; 
    border-radius: 30px;
    margin-top: 10px;
    transition: 0.2s;
}
.color:hover{
    cursor: pointer;
    border-width: 2px;
    box-shadow: 0px 0px 5px black;
}

/* Pie de página*/
footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    body{
        margin: 0px;
    }
    #jugadores > .jugador{
        width: 100%;
        border-radius: 0px;
    }
    #jugadores > .jugador:nth-child(1){
        margin-bottom: 40px;
    }
    .colores{
        flex-wrap: wrap;
    }
    footer{
        width: 90%;
    }
}
